  /* open sans */
.open-sans-bold-nav {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.3em;
  color: white;
}

/* Titulo educación */

.titulo_educacion {
  text-align: center;
}

.logo {
 font-size: 6em;
}